body{
    background: linear-gradient(135deg, #9b5de5, #6a4c93 );
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header{
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    width: 200px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}


.image-section{
        flex: 1 1 45%;
    
}


.text-section{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}


.image-section img{
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.text-section h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

-text-section p{
    margin-bottom: 30px;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: white ;
    color: #6a4c93;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.brn:hover{
    background-color: #f0f0f0;
    
}


.social-icons {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    
}

.social-icons a {
    margin-right: 15px;
    display: inline-block;
    color: white;
}

.social-icons img {
    width: 30px;
    filter: brightness(0) invert(1);
    transition: 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.2 );
}  

